<div class="container">
  <div class="card container m-5 shadow-lg" style="max-width: 600px; top:100px; left: 20%;">
    <div class="m-5">
      <div class="text-center">
        <img class="mb-4" src="../../assets/img/img001.png" alt="usuario" width="112" height="112">
        <h1 class="h3 mb-3 fw-normal">Iniciar sesi&oacute;n</h1>
        <form autocomplete="off" #frmLogin="ngForm">
          <div class="form-floating mt-4 mb-4" id="divUser">
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario" [(ngModel)]="usuario.usuario">
            <label for="usuario">Usuario</label>
          </div>
          <div class="form-floating mt-4 mb-4" id="divPassword">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="usuario.password">
            <label for="password">Password</label>
          </div>
          <div class="mb-4">
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()" [disabled]="usuario.usuario === null || usuario.password === null">Ingresar</button>
          </div>
          <div class="text-end">
            <p-button label="Recuperar contraseña" styleClass="p-button-link" (click)="modal_usuario()"></p-button>
          </div>
        </form>
      </div>
      <p-messages [(value)]="msgs2" [enableService]="false"></p-messages>
    </div>
  </div>
</div>
<p-toast position="top-center" key="tc"></p-toast>
<p-dialog header="Recuperar datos usuario" [(visible)]="mdm_usuario" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <div class="m-5">
    <form autocomplete="off" #frmRep="ngForm">
      <p class="p-text-secondary mb-4">Los datos recuperaci&oacute;n, ser&aacute;n emitidos al correo electr&oacute;nico registrado a su usuario.<br> Ingrese el correo electrónico registrado a usuario:</p>
      <div class="form-floating mb-3">
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="name@example.com"
               #email="ngModel"
               onkeyup="this.value=this.value.toLowerCase();"
               [(ngModel)]="usuario.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
        <label for="email">Email</label>
        <small class="text-danger" *ngIf="email.invalid">Registrar un correo electr&oacute;nico no valido</small>
      </div>
      <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="modal_usuario()" label="Cancelar" styleClass="p-button-text p-button-danger"></p-button>
    <p-button icon="pi pi-check" (click)="recuperar_usuario( frmRep )" label="Continuar" styleClass="p-button-text p-button-success" [disabled]="frmRep.invalid "></p-button>
  </ng-template>
</p-dialog>
