
<div class="container mt-2">
  <div class="col-12 text-center mb-3">
    <h3 class="mb-5">Usuarios</h3>
  </div>
  <div class="col-12 text-left mb-3">
    <p-button label="Terminar sesi&oacute;n" icon="pi pi-power-off" (click)="terminar_sesion()"></p-button>
  </div>
</div>
<div class="container">
  <div class="col-12 text-end mb-3">
    <button pButton
            pRipple
            type="button"
            icon="pi pi-refresh"
            class="p-button-rounded p-button-success p-button-text"
            pTooltip="Actualizar tabla"
            tooltipPosition="top"
            placeholder="Top"
            (click)="consultar()"></button>
    <button pButton
            pRipple
            type="button"
            icon="pi pi-user-plus"
            class="p-button-rounded p-button-success p-button-text"
            pTooltip="Agregar usuario"
            tooltipPosition="top"
            placeholder="Top"
            (click)="nuevo_usuario()"></button>
  </div>
  <div class="card shadow">
      <table class="table table-hover">
        <thead>
          <th class="text-center">#</th>
          <th class="text-center">Usuario</th>
          <th class="text-center">Nombre usuario</th>
          <th class="text-center">Correo</th>
          <th class="text-center">Fecha vigencia</th>
          <th class="text-center">Estatus</th>
          <th class="text-center">Editar</th>
          <th class="text-center">Activar/inhabilitar</th>
        </thead>
        <tbody>
          <tr class="active" *ngFor="let reg of usuarios; let i = index; ">
            <td class="text-center">{{ i + 1}}</td>
            <td class="text-center">{{ reg.usuario }}</td>
            <td class="text-left">{{ reg.fullname }}</td>
            <td class="text-left">{{ reg.email }}</td>
            <td class="text-center">{{ reg.fecha_vigencia }}</td>
            <td class="text-center">
              <span class="badge rounded-pill"
                    [ngClass]="{ 'bg-success': ( reg.cve_estatus === 1 ), 'bg-danger': ( reg.cve_estatus === 2 ), 'bg-warning': ( reg.cve_estatus === 3 )}">
                    {{ reg.nombre_estatus }}
              </span>
            </td>
            <td class="text-center">
              <button pButton
                      pRipple
                      type="button"
                      icon="pi pi-user-edit"
                      class="p-button-rounded p-button-help p-button-text"
                      pTooltip="Editar datos"
                      (click)="editar( reg )" ></button>
            </td>
            <td class="text-center">
              <button pButton
                      pRipple
                      type="button"
                      icon="pi pi-user-minus"
                      class="p-button-rounded p-button-danger p-button-text"
                      pTooltip="Inhabilitar"
                      tooltipPosition="left"
                      (click)="inhabiliar( reg )"
                      *ngIf="reg.cve_estatus !== 2"></button>
              <button pButton
                      pRipple
                      type="button"
                      icon="pi pi-check"
                      class="p-button-rounded p-button-success p-button-text"
                      pTooltip="Activar usuario"
                      tooltipPosition="left"
                      (click)="inhabiliar( reg )"
                      *ngIf="reg.cve_estatus === 2"></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<p-dialog header="{{ validacion.lbl_modal }}" [(visible)]="validacion.modal" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <div class="m-5">
    <form autocomplete="off" #frmUsuario="ngForm">
      <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="usuario"
               name="usuario"
               placeholder="Usuario"
               [(ngModel)]="usuario.usuario"
               [readonly]="usuario.cve_usuario !== null"
               (blur)="validar_usuario()"
               required>
        <label for="usuario">Usuario</label>
        <small class="text-danger" *ngIf="usuario.usuario === null">campo requerido</small>
        <small class="text-danger" *ngIf="validacion.error_reg ">Este usuario ya se encuentra registrado</small>
      </div>
      <div class="form-floating mb-3">
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Password"
               [(ngModel)]="usuario.password"
               required>
        <label for="password">Constraseña</label>
        <small class="text-danger" *ngIf="usuario.password === null">campo requerido</small>
      </div>
      <div class="form-floating mb-3">
        <input type="password"
               class="form-control"
               id="password_confirm"
               name="password_confirm"
               placeholder="Confirmar constraseña"
               [(ngModel)]="usuario.password_confirm"
               required>
        <label for="password_confirm">Confirmar constraseña</label>
        <small class="text-danger" *ngIf="usuario.password_confirm === null">campo requerido</small>
      </div>
      <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="nombre"
               name="nombre"
               placeholder="Usuario"
               [(ngModel)]="usuario.nombre"
               required>
        <label for="nombre">Nombre</label>
        <small class="text-danger" *ngIf="usuario.nombre === null">campo requerido</small>
      </div>
      <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="appat"
               name="appat"
               placeholder="Usuario"
               [(ngModel)]="usuario.apellido_paterno"
               required>
        <label for="appat">Apellido Paterno</label>
        <small class="text-danger" *ngIf="usuario.apellido_paterno === null">campo requerido</small>
      </div>
      <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="apmat"
               name="apmat"
               placeholder="Usuario"
               [(ngModel)]="usuario.apellido_materno"
               required>
        <label for="usuario">Apellido Materno</label>
        <small class="text-danger" *ngIf="usuario.apellido_materno === null">campo requerido</small>
      </div>
      <div class="form-floating mb-3">
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="name@example.com"
               #email="ngModel"
               onkeyup="this.value=this.value.toLowerCase();"
               [(ngModel)]="usuario.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
        <label for="email">Email</label>
        <small class="text-danger" *ngIf="usuario.email === null">campo requerido<br></small>
        <small class="text-danger" *ngIf="email.invalid">Registrar un correo electr&oacute;nico no valido</small>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" type="button" (click)="validacion.modal=false" label="Cancelar" styleClass="p-button-text p-button-danger"></p-button>
    <p-button icon="pi pi-check" type="button" (click)="registrar( frmUsuario )" label="Guardar" styleClass="p-button-text p-button-success" [disabled]="frmUsuario.invalid || validacion.error_reg "></p-button>
  </ng-template>
</p-dialog>
<p-toast position="top-center" key="tc"></p-toast>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
